{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}

{# FORMULAIRE POUR LES FILTRES #}

    <div class="bg-body-secondary mb-3 p-3">
        <div class="container">
            <div class="row">

                {{ form_start(filtreForm, {'attr': {'class': 'p-0 m-0 row'}}) }}
                <div class="col-5">
                    <div class="group row mb-3">
                        <div class="col">
                            {{ form_label(filtreForm.campus) }}
                        </div>
                        <div class="col">
                            {{ form_widget(filtreForm.campus) }}
                        </div>
                    </div>
                    <div class="group row mb-3">
                        <div class="col">
                            {{ form_label(filtreForm.nomSortie) }}
                        </div>
                        <div class="col">
                            {{ form_widget(filtreForm.nomSortie) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="group row">
                                <div class="col">
                                    Entre
                                </div>
                                <div class="col">
                                    {{ form_widget(filtreForm.dateDebut) }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="group row">
                                <div class="col">
                                    et
                                </div>
                                <div class="col">
                                    {{ form_widget(filtreForm.dateFin) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    {{ form_row(filtreForm.estOrganisateur) }}
                    {{ form_row(filtreForm.estInscrit) }}
                    {{ form_row(filtreForm.nEstPasInscrit) }}
                    {{ form_row(filtreForm.sortiesPassees) }}
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-secondary">Rechercher</button>
                    {{ form_end(filtreForm) }}
                </div>
            </div>

        </div>

    </div>


{# TABLEAU DE RESULTATS #}

    <div style="max-height: 500px; overflow: auto">

    <table class="table table-striped">
        <thead>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('d/m/y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d/m/y') }}</td>
                <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>........</td>
                <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|first }}.</td>
                <td>
                    {# BOUTON D'INSCRIPTION ET DE DESINSCRIPTION A UNE SORTIE #}
                    {% if sortie.etat.libelle == 'Ouverte' %}
                    <a href="{{ path('sortie_inscription_sortie', {'id' : sortie.id })}}" class="inscription-button">
                        {% if app.user not in sortie.participants %}
                            <button class="btn btn-success btn-sm">S'inscrire</button>
                        {% else %}
                            <button class="btn btn-danger btn-sm">Se désinscrire</button>
                        {%  endif %}
                    </a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    <div>

        <a href="{{ path('sortie_nouvelle') }}"><button class="btn btn-success">Créer une sortie</button></a>
    </div>


{% endblock %}

{% block scripts %}
    <script>
        // let inscriptionButtons = document.querySelectorAll('.inscription-button');
        // inscriptionButtons.forEach(inscriptionButton => {
        //     inscriptionButton.addEventListener('click', function(e){
        //         e.preventDefault();
        //         let urlInscriptionButton = this.getAttribute('href');
        //         console.log(urlInscriptionButton);
        //
        //         fetch(urlInscriptionButton, {
        //             method : 'GET',
        //             headers : {
        //                 'Content-Type': 'applicaion/json'
        //             }
        //         })
        //             .then(function(response) {
        //                 const responseData = response;
        //                 console.log(response.json())
        //             })
        //             .catch(error => console.log(error.message))
        //     })
        // })
    </script>
{% endblock %}
