{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}

{# FORMULAIRE POUR LES FILTRES #}

    <div class="bg-body-secondary mb-3 p-3">
        <div class="container">
            <div class="row">

                {{ form_start(filtreForm, {'attr': {'class': 'p-0 m-0 row'}}) }}
                <div class="col-5">
                    <div class="group row mb-3">
                        <div class="col">
                            {{ form_label(filtreForm.campus) }}
                        </div>
                        <div class="col">
                            {{ form_widget(filtreForm.campus) }}
                        </div>
                    </div>
                    <div class="group row mb-3">
                        <div class="col">
                            {{ form_label(filtreForm.nomSortie) }}
                        </div>
                        <div class="col">
                            {{ form_widget(filtreForm.nomSortie) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="group row">
                                <div class="col">
                                    Entre
                                </div>
                                <div class="col">
                                    {{ form_widget(filtreForm.dateDebut) }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="group row">
                                <div class="col">
                                    et
                                </div>
                                <div class="col">
                                    {{ form_widget(filtreForm.dateFin) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    {{ form_row(filtreForm.estOrganisateur) }}
                    {{ form_row(filtreForm.estInscrit) }}
                    {{ form_row(filtreForm.nEstPasInscrit) }}
                    {{ form_row(filtreForm.sortiesPassees) }}
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-secondary">Rechercher</button>
                    {{ form_end(filtreForm) }}
                </div>
            </div>

        </div>

    </div>


{# TABLEAU DE RESULTATS #}

    <div style="max-height: 500px; overflow: auto">

    <table class="table table-striped">
        <thead>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('d/m/y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription|date('d/m/y') }}</td>
                <td>
                    {% set percent = sortie.participants.count / sortie.nbInscriptionsMax * 100 %}
                    <div class="progress " role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar overflow-visible text-black {% if sortie.etat.libelle == 'Clôturée' %}bg-danger{% endif %}"
                             style="width: {{ percent }}%">
                            {{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}
                        </div>
                    </div>
                </td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    {% if app.user in sortie.participants %}
                        {%  if sortie.etat.libelle == 'Annulée' %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-calendar-x" viewBox="0 0 16 16">
                                <path d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-calendar-check" viewBox="0 0 16 16">
                                <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                            </svg>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    <div style="height: 30px; width: 30px; display: inline-block; vertical-align: middle; margin-right: 10px;">
                        {% if sortie.organisateur.photosProfil is not empty %}
                            <img src="{{ asset(sortie.organisateur.photosProfil.last.cheminAcces) }}" alt="Photo de profil" style="border-radius: 15px; width: 100%; height: 100%; object-fit: cover;">
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="grey" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                            </svg>
                        {% endif %}
                    </div>

                    <a href="{{ path('profils_afficher_participant', {'id' : sortie.organisateur.id }) }}">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|first }}.</a></td>
                <td>
                    <a href="{{ path('sortie_detail', {'id': sortie.id}) }}"><button class="btn btn-outline-secondary btn-sm">Afficher</button></a>


                    {% if (sortie.etat.libelle in ['Créée', 'Ouverte'] and (sortie.organisateur.id is same as app.user.id or is_granted('ROLE_ADMIN'))) %}
                        <a href="{{ path('sortie_annuler', {'id' : sortie.id }) }}">
                            <button class="btn btn-sm btn-outline-warning">Annuler</button>
                        </a>
                        <a href="{{ path('sortie_modifier', {'id' : sortie.id }) }}">
                            <button class="btn btn-sm btn-outline-secondary">Modifier</button>
                        </a>
                    {% endif %}

                    {# BOUTON D'INSCRIPTION ET DE DESINSCRIPTION A UNE SORTIE #}

                    <a href="{{ path('sortie_inscription_sortie', {'id' : sortie.id })}}" class="inscription-button">
                        {% if app.user not in sortie.participants %}
                            {% if sortie.etat.libelle == 'Ouverte' %}
                                <button class="btn btn-outline-success btn-sm">S'inscrire</button>
                            {% endif %}
                        {% else %}
                            {% if sortie.etat.libelle in ['Ouverte', 'Clôturée'] %}
                                <button class="btn btn-outline-danger btn-sm">Se désister</button>
                            {% endif %}
                        {%  endif %}
                    </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    <div>

        <a href="{{ path('sortie_nouvelle') }}"><button class="btn btn-success">Créer une sortie</button></a>
    </div>


{% endblock %}

{% block scripts %}
    <script>
        // let inscriptionButtons = document.querySelectorAll('.inscription-button');
        // inscriptionButtons.forEach(inscriptionButton => {
        //     inscriptionButton.addEventListener('click', function(e){
        //         e.preventDefault();
        //         let urlInscriptionButton = this.getAttribute('href');
        //         console.log(urlInscriptionButton);
        //
        //         fetch(urlInscriptionButton, {
        //             method : 'GET',
        //             headers : {
        //                 'Content-Type': 'application/json'
        //             }
        //         })
        //             .then(function(response) {
        //                 const responseData = response;
        //                 console.log(response.json())
        //             })
        //             .catch(error => console.log(error.message))
        //     })
        // })
    </script>
{% endblock %}
