{% extends 'base.html.twig' %}

{% block body %}
<div class="corps container h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-lg-10 col-md-11 col-sm-12">
            <div class="d-flex justify-content-center py-3">
                {% if fonction is same as 'creation' %}
                    <h1>Créer une sortie</h1>
                {% elseif fonction is same as 'modification' %}
                    <h1>Modifier une sortie</h1>
                {% endif %}
            </div>

            {# FORMULAIRE #}
            {{ form_start(sortieForm, {'attr': {'class': 'p-0 m-0 row'}}) }}
            <div class="col-6">
                <div class="group row mb-3">
                    <div class="col">
                        {{ form_label(sortieForm.nom) }}
                    </div>
                    <div class="col">
                        {{ form_widget(sortieForm.nom) }}
                        {{ form_errors(sortieForm.nom) }}

                    </div>
                </div>
                <div class="group row mb-3">
                    <div class="col">
                        {{ form_label(sortieForm.dateHeureDebut) }}
                    </div>
                    <div class="col">
                        {{ form_widget(sortieForm.dateHeureDebut) }}
                        {{ form_errors(sortieForm.dateHeureDebut) }}

                    </div>
                </div>
                <div class="group row mb-3">
                    <div class="col">
                        {{ form_label(sortieForm.dateLimiteInscription) }}
                    </div>
                    <div class="col">
                        {{ form_widget(sortieForm.dateLimiteInscription) }}
                        {{ form_errors(sortieForm.dateLimiteInscription) }}
                    </div>
                </div>
                <div class="group row mb-3">
                    <div class="col">
                        {{ form_label(sortieForm.nbInscriptionsMax) }}
                    </div>
                    <div class="col">
                        {{ form_widget(sortieForm.nbInscriptionsMax) }}
                        {{ form_errors(sortieForm.nbInscriptionsMax) }}

                    </div>
                </div>
                <div class="group row mb-3">
                    <div class="col">
                        {{ form_label(sortieForm.duree) }}
                    </div>
                    <div class="col">
                        {{ form_widget(sortieForm.duree) }}
                        {{ form_errors(sortieForm.duree) }}

                    </div>
                </div>
                <div class="group row mb-3">
                    <div class="col">
                        {{ form_label(sortieForm.infosSortie) }}
                    </div>
                    <div class="col">
                        {{ form_widget(sortieForm.infosSortie) }}
                        {{ form_errors(sortieForm.infosSortie) }}

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="group row mb-3">
                    <div class="col">
                        {{ form_label(sortieForm.siteOrganisateur) }}
                    </div>
                    <div class="col">
                        {{ form_widget(sortieForm.siteOrganisateur) }}
                        {{ form_errors(sortieForm.siteOrganisateur) }}

                    </div>
                </div>
                <div class="group row mb-3">
                    <div class="col">
                        {{ form_label(sortieForm.ville) }}
                    </div>
                    <div class="col">
                        {% set villeAttr = {'attr': {'urllieu': path('sortie_afficher_lieux', {'id': ''})}} %}
                        {% if fonction is same as 'modification' %}
{#                            {% set villeAttr = villeAttr|merge({'placeholder': sortie.lieu.ville.nom}) %}#}
                            {% set selectedVilleId = sortie.lieu.ville.id %}
                        {% endif %}
                        {{ form_widget(sortieForm.ville, villeAttr) }}
                        {{ form_errors(sortieForm.ville) }}

                    </div>
                </div>
                <div class="group row mb-3">
                    <div class="col">
                        {{ form_label(sortieForm.lieu) }}
                    </div>
                    <div class="col">
                        {% set lieuAttr = [] %}
                        {% if fonction is same as 'modification' %}
                            {% set lieuAttr = lieuAttr|merge({'disabled': false }) %}
                        {% endif %}
                        {{ form_widget(sortieForm.lieu, lieuAttr) }}
                        {{ form_errors(sortieForm.lieu) }}
                    </div>
                </div>
                <div class="group row mb-3">
                    <div class="col">
                        <p>Rue :</p>
                    </div>
                    <div class="col">
                        <p id="lieuRue">
                            {% if fonction is same as 'modification' %}
                                {{ sortie.lieu.rue }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="group row mb-3">
                    <div class="col">
                        <p>Code postal :</p>
                    </div>
                    <div class="col">
                        <p id="lieuCodePostal">
                            {% if fonction is same as 'modification' %}
                                {{ sortie.lieu.ville.codePostal }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="group row mb-3">
                    <div class="col">
                        <p>Latitude :</p>
                    </div>
                    <div class="col">
                        <p id="lieuLatitude">
                            {% if fonction is same as 'modification' %}
                                {{ sortie.lieu.latitude }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="group row mb-3">
                    <div class="col">
                        <p>Longitude :</p>
                    </div>
                    <div class="col">
                        <p id="lieuLongitude">
                            {% if fonction is same as 'modification' %}
                                {{ sortie.lieu.longitude }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" id="sortie_btnEnregistrer" name="btnEnregistrer" class="btn btn-primary btn">Enregistrer</button>
                {% if fonction is same as 'creation' %}
                    <button type="submit" id="sortie_btnPublier" name="btnPublier" class="btn btn-success btn">Publier la sortie</button>
                {% endif %}
            </div>
            {{ form_end(sortieForm) }}


        </div>
    </div>
</div>

{% endblock %}

{% block title %}
    {% if fonction is same as 'creation' %}
        Créer une sortie
    {% elseif fonction is same as 'modification' %}
        {{ sortie.nom }} - Modifier une sortie
    {% endif %}
{% endblock %}

{% block scripts %}

    {% if fonction is same as 'creation' %}
    <script>
        let choixLieu = document.querySelector('#sortie_lieu');
        choixLieu.disabled = true;
    </script>
    {% endif %}
    <script type="module">
        import axios from 'axios'

        let choixVille = document.querySelector('#sortie_ville')
        let lieuRue = document.querySelector('#lieuRue');
        let lieuCodePostal = document.querySelector('#lieuCodePostal');
        let lieuLongitude = document.querySelector('#lieuLongitude');
        let lieuLatitude = document.querySelector('#lieuLatitude');

        let jsonArray;

        choixVille.addEventListener('change', function(){
            let villeId = this.value;
            let url = this.getAttribute('urllieu') + '/' + villeId;

            axios.get(url, {
                id: villeId
            }, {
                onRequest : attenteMajLieux()
            })
                .then(function (response){
                    let choixLieu = document.querySelector('#sortie_lieu');
                    let spinner = document.querySelector('#spinnerLieu');
                    choixLieu.disabled = false;


                    jsonArray = response;
                    let htmlSelect = '';

                    jsonArray.data.forEach(lieu =>{
                        htmlSelect += "<option value='"+ lieu.id + "'>" + lieu.nom + "</option>";
                    })

                    choixLieu.innerHTML = htmlSelect;
                    spinner.remove();
                    majDonneesLieux();
                    choixLieu.style.display = "block";

                })
                .catch((error) => console.log(error))
        })

        function attenteMajLieux() {
            let choixLieu = document.querySelector('#sortie_lieu');
            choixLieu.style.display = "none";

            const placeholderOption = choixVille.querySelector('option[value=""]');
            if (placeholderOption) {
                placeholderOption.remove();
            }

            let spinner = document.createElement("div");
            spinner.innerHTML = "<div class='spinner-border spinner-border-sm' id='spinnerLieu' role='status'><span class='visually-hidden'>Loading...</span></div>"
            choixLieu.parentNode.appendChild(spinner);
        }

        choixLieu.addEventListener("change", majDonneesLieux)

        function majDonneesLieux(){
            let idSelectionne = parseInt(choixLieu.value);
            let lieuSelectionne;
            for(let i = 0; i <= jsonArray.data.length; i++){
                if(jsonArray.data[i].id === idSelectionne){
                    lieuSelectionne = jsonArray.data[i];
                    break;
                }
            }
            lieuRue.innerText = lieuSelectionne.rue;
            lieuCodePostal.innerText = lieuSelectionne.ville.codePostal;
            lieuLongitude.innerText = lieuSelectionne.longitude;
            lieuLatitude.innerText = lieuSelectionne.latitude;
        }
    </script>
{% endblock %}

